/* ----- CSS Reset ----- */
* {
    margin: 0;
    padding: 0;
}

/* ----- Basics ----- */
body { 
    font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;
    background: #fff;
}

a {
    color: #6972a8; 
}

h1 { 
    font: bold 2.1em Arial, Arial, Sans-Serif; 
    color: #036DA7;
}

h2 { 
    font: bold 1.1em Arial, Arial, Sans-Serif; 
}

/* ----- Layout ----- */
div#container {
    background-color: #fff;
}

div#header {
    background-color: #282c2f; /*background: #202326;*/
}

div#wrapper {
    float:left;
    width:100%;
    margin-left:-200px;
}

div#content {
    margin-left:200px;
    padding: 1em;
    border-right: 1px solid gray;
    min-height: 400px;
}

div#sidebar {
    float:right;
    width:160px;
    padding: 1em;
    /*background-color: #009200;*/
}

div#footer {
    clear:both;
    /*background-color: #ddd;*/
    border-top: 1px solid gray;
    padding: .5em;
}

h1.header-logo {
	width: 330px; height: 100px;
	background: url("/public/images/testfest_composite.png");
	text-indent: -9999px;
}


/* ----- Navs ----- */
ul#header-links {
    position: absolute;   
    top: 0;   
    right: 0;
    list-style: none;
}

ul#header-links li {
    float: left;
    margin: 0 10px;
}

ul#nav-links {
    border-bottom: solid 1px #DEDEDE;
    height: 2em;
    padding-left: 450px;
    list-style: none;
}

ul#nav-links li {
    float:left;
    margin-right:2px;
}

ul#nav-links a {
    background: transparent url("/public/images/tab-round.png");
    color: #008;
    display: block;
    float: left;
    height: 2em;
    padding-left: 10px;
    text-decoration: none;
}

ul#nav-links span {
    background: #282c2f url("/public/images/tab-round.png") 100% 0;
    display: block;
    line-height: 2em;
    padding-right: 10px;
}

ul#nav-links a:hover {
    background-position: 0 -120px;
}

ul#nav-links a:hover span {
    background-position: 100% -120px;
}

ul#nav-links a.current {
    background-position: 0 -60px;
    color: #fff;
    font-weight: bold;
}

ul#nav-links a.current span {
    background-position: 100% -60px;
}

div#notice {
    position: absolute;
    top: 25px;
    width: 30%;
    margin-left:35%;
    margin-right:35%;
}

div#notice p {
    font-size: 13px;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 2.5em;
    background: #06ba06 url("/public/images/information.png") no-repeat 0.5em 50%;
    border:2px solid #fff;
    color: #fff;
}

/* ----- Forms ----- */
p#form-error {
    background-color: #cc0000;
    color: #fff;
    padding: 0.8em;
    margin: 1em 0;
}

